/* text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF */




/*@media screen and (max-width: 544px)*/

.nav-bar-s {
  display: flex;
  flex-direction: row;
  flex: 2 0 0
}

.nav-ul-s {
  margin-left: -41px;
  height: 100px;
}

.index-s {
  background: #00A5BF;
  padding: 20 20 20 20;
  margin:

}
.calendar-s {
  background-color: #00B7D3;
  padding: 20 20 20 20;
}

img {
  background-color: red;
  float: 0 0 0 -20

}

.join-s {
  background-color: #00D5E7;
  padding: 20 20 20 20;
}
